<div class="container">
  <h1>Burger Time!</h1>
    <div id="eat">
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>{{burger_name}}
              <button type="submit" class="eaten">Eat</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <h2>Devoured Burgers</h2>
      <div id="eaten">
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              <li>{{burger_name}}</li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
</div>